/* The Main Body of the Page + Songs List -------------------------------- */

.container {
    min-height: 65vh;
    background-color: #00000c;
    color: rgb(231, 180, 180);
    font-family: 'Recursive', sans-serif;
    display: flex;
    margin: 0.5rem auto;
    width: 70vw;
    border-radius: 3rem;
    padding: 0.5rem;
    background-image: url('../../public/assets/bg.jpg');
}

.songsList {
    margin: 0.75rem;
}

.songContainer {
    margin-top: 1.25rem;
}

.songItem {
    height: 2.5rem;
    display: flex;
    background-color: rgb(255, 221, 189);
    color: rgb(14, 16, 121);
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    border-radius: 1rem;
    margin: 0.5rem 0;
    font-family: 'Ephesis', cursive;
    font-weight: bolder;
}

.songItem img {
    width: 3.5rem;
    border-radius: 1rem;
    margin: 0px 0.25rem;
}

.img:hover {
    border-radius: 0.25rem;
}

.jSName {
    font-size: 1.2rem;
}

.timeStamp {
    margin: 0rem 0.8rem;
}

i.songItemPlay:hover {
    color: black;
}